<div class="container" dir="rtl">
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSubmit2()" #f="ngForm">
      <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        <div class="form-group">
          <label for="username" >نام کاربری</label>
          <input
            type="text"
            id="username"
            class="form-control"
            ngModel
            name="username"
            required>
        </div>
        <p>لطفا نام کاربری خود را وارد کنید</p>
        <button class="btn btn-default" type="button" (click)="suggestUserName()"> پیشنهاد نام کاربری</button>
        <div class="form-group">
          <label for="email" >پست الکترونیک</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
        </div>
        <span class="help-block" *ngIf="!email.valid && email.touched">لطفا ایمیل معتبری وارد نمایید</span>
      </div>
      <span class="help-block" *ngIf="!userData.valid && userData.touched">اطلاعات کاربری را به درستی وارد نمایید</span>
      <div class="form-group">
        <label for="email" >سوال امنیتی</label>
        <select
          class="form-control"
          id="secret"
          [ngModel]="defualtQuestion"
          name="secret">
          <option value="food">غذای مورد علاقه شما چیست</option>
          <option value="teacher">نام اولین معلم شما چیست</option>
        </select>
      </div>
      <div class="form-group">
<span class=help-block> تستي</span>
        <textarea
          class="form-control"
          [(ngModel)]="answer"
          name="questionAnswer">

        </textarea>
        <span>پاسخ شما : {{answer}} </span>
      </div>
      <div class="form-group">
        <div class="radio" *ngFor="let gender of genders">
          
          <label for="input-id" class="col-sm-2">
            <input type="radio" ngModel [value]="gender" name="gender">{{gender}}
          </label>
          
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">ثبت فرم</button>
    </form>
  </div>
</div>

<hr>
<div class="row" *ngIf="submitted">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3>اطلاعات ثبت شده</h3>
    <p>نام کاربری : {{user.username}}</p>
    <p>پست الکترونیک :{{user.email}}</p>
    <p>سوال امنیتی :{{user.secret}}</p>
    <p>پاسخ به سوال امنیتی :{{user.questionAnswer}}</p>
    <p>جنسیت :{{user.gender}}</p>

  </div>
</div>

</div>
