<!-- <h1>Hello {{name}}</h1> -->

<!-- <myComponent message="Hello Angular" [mycolors]="colors"></myComponent>
<p>Default Counter : {{number}}</p>
<counter [(number)]="number"></counter>
<br/>
<input [(ngModel)]="myName" type="text"/>
<p> Hello {{myName}}</p> -->

<!-- <hiAngular>
<h1>Salam</h1>
<p> Hi</p>

<h3> farshid</h3>
</hiAngular> -->
<!-- 
<h2>Register Driven Form</h2>
<hr/>
<form (submit)="save(registerForm)" #registerForm="ngForm">
  <div class="form-group" >
    <label for="email">User Name</label>
    <input type="email" class="form-control" id="email" placeholder="User Name" name="username" ngModel required #username>
    <p> {{username.className}}</p>
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control" id="pwd" placeholder="Password" name="password" ngModel required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email2" placeholder="email" name="email" ngModel required>
  </div>
  <div class="form-group">
    <label for="email">Address:</label>
    <textarea type="email" class="form-control" id="Address" placeholder="Enter Address ..." rows="10" name="address" ngModel required></textarea>
  </div>

  <button type="submit" class="btn btn-success" value="Save" [disabled]="!registerForm.form.valid">Submit</button>
</form> -->



<h2>Register Reactive Form</h2>
<hr />
<form (ngSubmit)="save()" [formGroup]="registerForm">

    <div class="form-group">
        <label for="email">User Name</label>
        <input type="email" class="form-control" id="email" placeholder="User Name" name="username" [formControl]="username">
        <div [hidden]="username.valid || username.untouched">
            <div [hidden]="!username.hasError('required')" class="text-danger">
                please Enter User Name
            </div>
            <div [hidden]="!username.hasError('minlength')" class="text-danger">
                Min length is 4
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Password" name="password" [formControl]="password">

        <div [hidden]="password.valid || password.untouched">
            <div [hidden]="!password.hasError('required')" class="text-danger">
                please Enter User Name
            </div>

        </div>


    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email2" placeholder="email" name="email" [formControl]="email">

        <div [hidden]="email.valid || email.untouched">
            <div [hidden]="!email.hasError('required')" class="text-danger">
                please Enter User Name
            </div>

        </div>

    </div>
    <div class="form-group">
        <label for="email">Address:</label>
        <textarea type="email" class="form-control" id="Address" placeholder="Enter Address ..." rows="10" name="address"
            [formControl]="address"></textarea>
    </div>

    <button type="submit" class="btn btn-success" value="Save" [disabled]="!registerForm.valid">Submit</button>
</form>