<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filterstring">
      <hr>
      <button class="btn btn-primary" (click)="addServer()">افزودن سرور</button>
      <hr>
      <h3>وضعیت سرور:‌ {{appStatus | async}}</h3>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filterstring:'status'"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name | shorten:15:'******'}}</strong>  --- {{ server.started | date:'fullDate'}} --- {{ server.instanceType | uppercase}}
          <span
              class="label label-default">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
