<button class="btn btn-primary" [disabled] = "!allowButton" (click)="ServerCreated()"> سرور جدید</button>
<hr>
<button class="btn btn-secondary"  (click)="ServerTextRefresh()">ریفرش سرور</button>
<p>{{serverCreatedText}}</p>
<hr>
<p>سرور {{id}} در وضعیت {{status}} قرار دارد</p>
<!-- <hr>
<input type="text"  (input)="onUpdateServerName($event)">
<p>{{serverName}}</p> -->

<hr>
<input type="text"  [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<hr>
<p *ngIf="serverCreatedStatus; else noserver">سرور جدید ایجاد شد نام سرور جدید {{serverName}} می باشد</p>
<ng-template #noserver>
    <p>سروری ایجاد نشده است</p>
</ng-template>
<app-servers></app-servers>
<p *ngFor="let item of serverList">{{item}}</p>


