<div class="container">
    <app-demo-directive></app-demo-directive>
    <hr>
        <app-new-server  (iranianServer)="onLocalServer($event)" (germanyServer)="onExternalServer($event)"></app-new-server>

        <hr>
<button class="btn btn-primary" (click)="OnChangeFirst()">تغيير عنوان</button>
<button class="btn btn-danger" (click)="OnDestroyServer()">حذف سرور </button>

        <app-server-elements
          *ngFor="let serverElement of serverElements"
          [element]="serverElement"
          [name]= "serverElement.name"  >
<!--
                <div class="panel-heading">{{serverElement.name}}</div>
                <div class="panel-body">
                    <p>
                        <strong *ngIf="serverElement.type==='iran'" style="color:red">{{serverElement.content}}</strong>
                        <em *ngIf="serverElement.type==='germany'" >{{serverElement.content}}</em>
                    </p>
                </div> -->

        </app-server-elements>
    </div>
