<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="ingredientForm" (ngSubmit) ="addIngredient()" >
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">نام ماده مورد نياز</label>
            <input type="text" id="name" class="form-control" formControlName="name" />
          </div>

          <div class="col-sm-2 form-group">
            <label for="name">مقدار</label>
            <input type="number" id="amount" class="form-control" formControlName="amount" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <button class="btn btn-primary" type="button"> بازنويسي</button>
            <button class="btn btn-danger" type="button"> حذف</button>
            <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid"> افزودن</button>
          </div>
        </div>
        <hr />
      </form>
    </div>
  </div>
